h1 { 
    color:coral;
}

h2 {
    color:deepskyblue;
}

header {
    background-image: url(../img/git.jpg);
    text-align: center;
    padding: 70px;
}

footer {
    background-image: url(../img/gitinho.jpg);
    text-align: center;
    padding: 100px;
}    

main {
    background-image: url(../img/corpo.jpg);
    text-align: left;
    color:darksalmon ;
    padding: 50;
}

img {
    width: 50px;
}

