h1 { 
    color:tomato;
}

h2 {
    color:tomato ;
}

header {
    background-image: url(../img/git.jpg);
    background-size: cover;
    text-align: left;
    background-position: center;
    height: 350px;
    font-family: Verdana;
    padding-left: 180px;
    padding-top: 50px;
}

footer {
    background-image: url(../img/coding.jpg);
    background-size: cover;
    background-position: center;
    color:lightgreen;
    text-align: left;
    font-family: Verdana;
    font-size: 16px;
    height: 280px;
    padding: 50px 70px 20px;
}    

main {
    background-image: url(../img/program.jpg);
    background-size: cover;
    background-position: center;
    text-align: left;
    color:bisque;
    font-family: Verdana;
    font-size: 14px;
    padding: 50px
}

body {
    background-image: url(../img/matrix.jpg);
}

a {
    color:tomato;
}

ol {
    list-style: none;
    font-size: 14px;
}

*{
    margin: 15px;
}
